[Desktop Entry]
Type=Application
Name=Partition Manager
Comment=Symphony of Safety - Backup, Restore, Preview
Exec=/usr/local/bin/partition-manager.sh
Icon=drive-harddisk
Terminal=false
Categories=Utility;

cd ~/.local/share/applications/

mod +x /usr/local/bin/partition-manager.sh
chmod +x ~/.local/share/applications/PartitionManager.desktop
